<% include ./partials/header %>
<% include ./partials/menu %>

	<h1 class="ui grey inverted header">Hello <%= user.firstName %>!</h1>
	<h2 class="ui grey inverted header">This is your Dashboard</h2>
	
	<br/>
	<br/>
	<br/>

	<h2 class="ui grey inverted center aligned header">EXPENSES</h2>

	<br/>
	<br/>
	<br/>

	<table class="ui basic 4 column inverted striped table">
        <thead>
            <tr>
                <th class="orange">Date</th>
                <th class="orange">Category</th>
                <th class="orange">Subcategory</th>
                <th class="orange">Amount</th>
            </tr>
        </thead>
        <tbody>
            <% user.expenses.forEach(function(expense){ %>
            	<tr>
					<td><%= expense.date %></td>
					<td><%= expense.category %></td>
					<td><%= expense.subcategory %></td>
					<td><%= expense.amount %></td>
				</tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/expenses/new">
    	<div class="ui labeled right floated button" tabindex="0">
		  	<div class="ui basic orange button">
		    	<i class="plus icon"></i> Add item
		  	</div>
		</div>
	</a>

<% include ./partials/footer %>